#various functions 

##########################
#  USELFUL FUNCTIONS :)  #
##########################

### create folders for new project. usage: newproject <name_project>
#-----------------------------------------------------------------------------
newproject ()

{
    mkdir -pv -- "$1"/code/{python,matlab,other}
    mkdir -pv -- "$1"/{data,literature,putput,tables}
}
#-----------------------------------------------------------------------------

###preview csv files in terminal
#-----------------------------------------------------------------------------
function csvpreview()
{
      sed 's/,,/, ,/g;s/,,/, ,/g' "$@" | column -s, -t | less -#2 -N -S
}

#-----------------------------------------------------------------------------

###create a folder for new presentation with preable and bib file
#-----------------------------------------------------------------------------
newpresentation ()
{
    #create the folder for the presentation with format
    #slides_ddmmyy and put preamble and bib files in it
    mkdir -p -- slides_$(date +"%d-%m-%Y")&& \
        cp ~/my_templates/latex-slides/{preamble.tex,references.bib} "$_"
    #create folder for auxiliary files
    mkdir -p -- slides_$(date +"%d-%m-%Y")/aux
}
#-----------------------------------------------------------------------------

###show snippets for tex and all
#-----------------------------------------------------------------------------
th ()
{
    #print snippets command for latex, default and custom made
    echo "======================="
    echo "#snippet vim-snippet"
    echo "======================="
    gsed -n '/^#snippet/p;/^snippet/p' ~/.vim/bundle/vim-snippets/UltiSnips/tex.snippets ~/.config/nvim/my_snippets/tex.snippets | \
        gsed -e "/#snippet custom made/a =======================" | \
        gsed -e "/#snippet custom made/i ======================="

}

ah ()
{
    #print snippets command for all, default and custom made
    echo "======================="
    echo "#snippet vim-snippet: all"
    echo "======================="
    gsed -n '/^#snippet/p;/^snippet/p' ~/.vim/bundle/vim-snippets/UltiSnips/all.snippets 
}


jh ()
{
    #print snippets command for latex, default and custom made
    echo "======================="
    echo "#snippet vim-snippet"
    echo "======================="
    gsed -n '/^#snippet/p;/^snippet/p' ~/.vim/bundle/vim-snippets/UltiSnips/julia.snippets ~/.config/nvim/my_snippets/julia.snippets | \
        gsed -e "/#snippet custom made/a =======================" | \
        gsed -e "/#snippet custom made/i ======================="

}
